<h2>
  clients!
</h2>
<ul style="display: block" *ngIf='signalRService.data'>
  <li *ngFor="let client of signalRService.data">
    <div [ngClass]="(client.status=='1')?'green':'red'">{{ client.ip }}</div>
    <div>OS: {{ client.os }}</div>
    <div>Local Time: {{ client.localTime }}</div>
    <div>Time Zone: {{ client.timeZone }}</div>
    <div>Browser: {{ client.browser }}</div>
    <div>Resolution: {{ client.resolution }}</div>
  </li>
</ul>